@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.Background {
  background-image: url("m4.png");
  height: 100%;
  width: 100%;
  border: 0!important;
  margin: 0!important;
  padding:0!important;
  background-repeat: no-repeat;
  background-color: #000000;
}

html, body{
  font-family:"Roboto", sans-serif;
  height: 100%;
  padding:0px;
  margin: 0px;
  color: #000000;
}
div {
  text-align: center;
  display: block; 
  margin: auto;
  }
.Center {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.navbar {
  overflow: hidden;
  border: 0px;
  margin: 0px;
  padding:0px;
  padding-bottom:0px;
  color: #00000;
  background-color: #00000;
  }
.navbar a {
  float: left;
  background-color: #00000;
  color: white;
  text-align: center;
  margin: 0px;
  padding:20px;
  border: 0!important;
  text-decoration: none;
  font-size: 26px;
}
.navbar a:hover {
  background-color: #00000;
  color: green;
  padding: 20px;
  border: 0;
}

.column {
  float: left;
  align-content: center;
  align-items: center;
  text-align: center;
  display: block; 
  margin: auto;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  align-content: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.logo-img {
    float: left;
    position: relative;
    margin: 0px 0px 0px 0px;
}
