

.Background {
  background-image: url("m4.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html{
  font-family:"Lucida Console", Monaco, monospace;
  height: 100%;
}



.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
